* {
  font-family: Helvetica;
}
h1, h2  {
  font-weight: bold;
}
h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
h2  {
  font-size: 32px;
  color: white;
}
#Brushes h2  {
  background-color: mediumspringgreen;
}
#Frames h2  {
  background-color: lightcoral;
}
#Paint h2 {
  background-color: skyblue;
}
p b {
  font-weight: bold;
  color: blue;
}
